.primaryButton {
  outline-color: red;
  color: black;
  border: none;
  font-family: var(--primaryFontFamily);
  font-weight: 600;
  //   padding: 15px 100px;
  border-radius: 5px;
  transition: 100ms;

  background: #e0e0ff;
  background: linear-gradient(
    170deg,
    rgba(224, 224, 255, 1) 0%,
    rgba(192, 193, 255, 1) 50%,
    rgba(134, 137, 255, 1) 100%
  );

  //   animation: 1s buttonLoading infinite;
}

.primaryButton:hover {
  transform: scale(1.1);
}

.primaryButton:active {
  transform: scale(0.95);
}

// .primaryButton:hover {
//   transform: scale(1.05);
// }
