@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primaryBackgroundColor: #0b1326;
  --primaryColor: #6366f1;
  --primaryFontFamily: "Inter";
  --outlinedColor: #171f33;
}

html,
body {
  background-color: var(--primaryBackgroundColor);

  .circle {
    width: calc((200svh - 250px) / 2);

    height: calc((200svh - 250px) / 2);
    // border: 1px solid red;
    // background-color: white;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 50%;
    background: radial-gradient(
      rgba(255, 255, 255, 0.13),
      var(--primaryBackgroundColor),
      var(--primaryBackgroundColor) 100%
    );
  }

  .appContainer {
    // border: 1px solid blue;
    display: grid;
    grid-template-columns: 250px 1fr;
    // z-index:;
  }

  .leftCircle {
    left: -10%;
  }
  .rightCircle {
    right: -20%;
    top: 50%;
    transform: translateY(-50%);
  }
  .contentContainer {
    position: relative;
    // border: 1px solid red;
    // overflow: hidden;
    // z-index: ;
    // display: none;
    .contentWrapper {
      position: relative;
      padding: 30px;
      z-index: 3;
    }
  }
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

button {
  cursor: pointer;
}

input,
p,
a,
h1 {
  font-family: var(--primaryFontFamily);
}
