.leftNavBar {
  background-color: var(--primaryBackgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100svh - 90px);
  top: 90px;
  position: sticky;
  z-index: 2;
  border-right: 1px solid var(--primaryColor);
  //   border: 1px solid red;
}
