.homeContainer {
  // height: 100svh;
  width: 100%;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  // position: relative;

  // display: flex;
  // align-items: center;
  // justify-content: center;
}
