.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px 30px;
  background-color: var(--primaryBackgroundColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 4;
  border-bottom: 1px solid var(--primaryColor);
}

.navBar .leftSide {
  width: 33%;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar .leftSide button {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  color: var(--primaryColor);
  display: none;
}

.navBar .leftSide p {
  font-size: 25px;
  font-weight: 800;
  color: #6366f1;
}

.navBar .leftSide .navigationList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.navBar .leftSide .navigationList li a {
  color: #545f73;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
}

.navBar .leftSide .navigationList li a:hover {
  color: var(--primaryColor);
}

.navBar .leftSide .navigationList li a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  height: 2px;
  bottom: -5px;
  background-color: #6366f1;
}

.navBar .leftSide .navigationList li a:hover::before {
  color: var(--primaryColor);
  -webkit-animation: expandWidth 100ms linear forwards;
          animation: expandWidth 100ms linear forwards;
}

.navBar .leftSide .navigationList li .selectedTab {
  color: var(--primaryColor);
}

.navBar .leftSide .navigationList li .selectedTab::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  bottom: -5px;
  background-color: #6366f1;
}

.navBar .center {
  width: 33%;
}

.navBar .center input {
  border-radius: 15px;
}

.navBar .rightSide {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navBar .rightSide .navBarImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@-webkit-keyframes expandWidth {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@keyframes expandWidth {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@media screen and (max-width: 1487px) {
  .navBar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 100px;
        grid-template-columns: 1fr 1fr 100px;
  }
  .navBar .leftSide {
    width: 100%;
  }
  .navBar .leftSide button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navBar .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
  .navBar .rightSide {
    width: 100%;
  }
}

@media screen and (max-width: 1487px) {
  .navBar {
    padding: 20px;
  }
}

@media screen and (max-width: 1110px) {
  .navBar .center div {
    display: none;
  }
}
/*# sourceMappingURL=NavBar.module.css.map */